<template>
  <div class="d-flex AutoList flex-column h100">
    <v-card-title class="flex-grow-0 flex-column">
      <div class="pl-3 d-flex justify-space-around mt-0 align-center w100">
        <span>Авто</span>
        <v-spacer></v-spacer>
        <v-btn small fab icon @click="referenceDlg = true"><v-icon>mdi-comment-question-outline</v-icon></v-btn>
        <v-btn small fab icon @click="getAuto"><v-icon>mdi-refresh</v-icon></v-btn>
      </div>
      <div style="width: 100%">
        <v-text-field
            class="mx-2 mt-0"
            v-model="search"
            label="Поиск"
            append-icon="mdi-magnify"
            single-line
            outlined
            hide-details
        />
      </div>
    </v-card-title>
    <div class="d-flex flex-grow-1 flex-column pa-2 h0 overflow-y-auto">
        <div v-for="(item, index) in AutoListComput" :key="index">
            <auto-list-item :item="item" @click:status="opnStatus"/>
            <v-divider class="mx-4"></v-divider>
        </div>
    </div>

    <v-dialog v-model="referenceDlg" width="350">
      <reference v-if="referenceDlg" @cls="referenceDlg = false" />
    </v-dialog>
    <v-dialog v-model="statusAuto" width="350">
      <dlgStatusAuto v-if="statusAuto" @cls="statusAuto = false" :st="st" @click:setSt="setStatus"></dlgStatusAuto>
    </v-dialog>
    <v-dialog v-model="addAuto" width="350">
      <dlgAddAuto v-if="addAuto" @cls="addAuto = $event" ></dlgAddAuto>
    </v-dialog>
  </div>
</template>
<script src="./_AutoList.js" lang="js"></script>
<style scoped>

.height {
  height: 60%;
}
</style>
