<template>
  <v-card>
    <v-toolbar color="primary" dense class="elevation-0 mb-3" dark>
      <span>Добавление авто</span>
      <v-spacer></v-spacer>
      <v-icon @click="$emit('cls', false)">mdi-close</v-icon>
    </v-toolbar>
    <v-card-text>
      <v-text-field v-model="auto" outlined label="Введите номер авто" :rules="[() => num(auto.toUpperCase()) || 'Данные введены некорректно проверьте их',]" @keyup.enter="add"></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn text @click="add" class="mr-3">Добавить</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {IsAutoNumber} from '@/rivg/IsAutoNumber.js';
export default {
  props: {},
  data: () => ({
    auto: '',
  }),
  methods: {
    add() {
      if((this.auto !== '') && (this.num(this.auto) === true)){
        let data = {
          id: this.$store.getters.getIdUser,
          services:'Механик',
          state: '1',
          diskr: this.auto
        }
        this.$post('http://ping.stak63.com:8084/ping', {//Пинг отправляем
          rout:'seturl',
          token: '23eb817aee632ee020d44682af9c64a0',
          data: JSON.stringify(data),
          rnd: Math.random() * 100000,
        }).then(json => {
          console.log(json);
        });

      }else {
        this.$store.dispatch('actionflag', {flag:true, text:'Введите номер корректно!'})
      }
    },
    num(e) {
      return IsAutoNumber(e);
    },
  }
};
</script>
