<template>
  <fieldset class="ma-3 rounded-lg fildset_border_color_primary">
    <legend class="ml-4 title">{{Obj.Discr}}</legend>
    <div class="d-flex flex-row justify-space-around w100">
      <auto-path-list-item-content class="w100" />
      <auto-path-list-item-actions class="w100" />
    </div>
  </fieldset>
</template>

<script>
import AutoPathListItemContent
  from "@/comp/AutoPath/AutoPathList/AutoPathListItem/AutoPathListItemContent/AutoPathListItemContent";
import AutoPathListItemActions
  from "@/comp/AutoPath/AutoPathList/AutoPathListItem/AutoPathListItemActions/AutoPathListItemActions";
export default {
  props: {
    obj:{Object}
  },
  components:{
    AutoPathListItemContent,
    AutoPathListItemActions
  }
};
</script>
<style scoped>
 .w100{
   width: 100%;
 }
 .fildset_border_color_primary{
   border-color: #1976d2 !important;
 }
</style>
