<template>
  <div>
    <div class="d-flex flex-column">
      <div class="subtitle-2">{{ name }}</div>
      <div class="body-2">{{ statusAuto }}</div>
    </div>
  </div>
</template>

<script>
import { getStatus } from '@/rivg/tools.js'
export default {
  name: "AutoListItemContent",
  computed: {
    statusAuto(){
      return getStatus(this.status).status;
    }
  },
  props:{
    name:{String},
    status:{String},
  }
}
</script>

<style scoped>

</style>
