<template>
  <div>
    <v-card class="ma-3 mt-6 rounded-lg fildset_border_color_primary elevation-5" v-for="(object, index) in item" :key="index">
      <v-card ref="legend" class="v-card_legend rounded elevation-4 rounded-sm" >{{object.Discr}}</v-card>
      <div class="d-flex flex-row justify-space-around w100 v-card_content" >
        <auto-path-list-item-content class="w100" :date="object.Date"/>
        <auto-path-list-item-actions class="w100" :coord="object.Lan +' '+ object.Long"/>
      </div>
    </v-card>
  </div>
</template>

<script>
import AutoPathListItemContent
  from "@/comp/AutoPath/AutoPathList/AutoPathListItem/AutoPathListItemContent/AutoPathListItemContent";
import AutoPathListItemActions
  from "@/comp/AutoPath/AutoPathList/AutoPathListItem/AutoPathListItemActions/AutoPathListItemActions";


export default {
  props: {
    item: {Array}
  },
  mounted() {
    //:class="($refs.legend[i].$refs.link.offsetHeight > 40)? 'pt-8':'pt2'"
    // console.log(this.$refs.legend[1].$refs.link.offsetHeight);
  },
  components: {
    AutoPathListItemContent, AutoPathListItemActions
  },
  methods:{
    height(){
      let i = document.querySelector('.v-card_legend')
      console.log(i);
      if(i.offsetHeight > 25){
        return 'pt-8'
      } else {
        return 'pt-2'
      }
    }
  }
};
</script>
<style scoped>
.w100{
  width: 100%;
}
.fildset_border_color_primary{
  border: 1px solid #1976d2;
  /*border-color: #1976d2 !important;*/
}
.v-card_legend{
  margin-top: -15px;
  margin-left: 10px;
  position: absolute;
  padding: 5px;
  height: 30px;
  max-width: 90%;
  background-color: #1976d2;
  color: white;
  text-transform: uppercase;
}
.v-card_content{
  padding-top: 20px;
  padding-bottom: 10px;
}
</style>
