<template>
  <v-list-item-action class="d-flex flex-row align-center">
    <v-icon>{{ getIconSt }}</v-icon>
    <v-icon v-if="Number(item.state) === -1" color="gray">mdi-wifi-off</v-icon>
    <v-icon v-else-if="Number(item.state) === 0" color="error">mdi-wifi</v-icon>
    <v-icon v-else-if="Number(item.state) === 999" color="blue-grey">mdi-wifi</v-icon>
    <v-icon v-else color="success">mdi-wifi</v-icon>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-bind="attrs" v-on="on">mdi-dots-vertical</v-icon>
      </template>
      <v-list>
        <v-list-item @click="opnStatus({stID: item.typePosition, idCar:item.idW, token:item.token})">
          <v-list-item-title>Статус</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-list-item-action>
</template>

<script>
import {getStatus} from "@/rivg/tools.js";

export default {
  name: "AutoListItemActions",
  props:{
    item: {Object},
  },
  computed:{
    getIconSt(){
      return getStatus(this.item.typePosition).icon
    },
  },
  methods:{
    opnStatus(objectStatus){
      this.$emit('click:status', objectStatus);
    }
  }
}
</script>

<style scoped>

</style>
