<template>
  <v-card>
    <v-card-title dense class="elevation-0 blue darken-1">
      <span class="white--text">Добавить событие</span>
      <v-spacer></v-spacer>
      <v-icon dark @click="$emit('click:cls')">mdi-close</v-icon>
    </v-card-title>
    <v-card-text class="d-flex flex-grow-1 overflow-y-auto h75">
      <v-radio-group
          v-model="ex7"
          column
      >
        <v-radio
            v-for="(item, ind) in radio"
            :key="ind"
            :label="item"
            :value="item"
        >
        </v-radio>
      </v-radio-group>
    </v-card-text>
    <v-card-actions>
      <v-btn block @click="sendEvent" color="primary">Добавить</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {mapActions} from 'vuex'
export default {
  data: () => ({
    ex7: '',
    radio: [
      'резкий поворот',
      'сужение дороги',
      'мост',
      'пешеходный переход',
      'гололед',
      'съезд на грунтовую дорогу',
      'ограничение скорости 20км, 40км',
      'ЛЭП + опоры',
      'наличие/отсутствие разметки ограничителей',
      'наличие  водоемов в непосредственной близости  от дороги',
      'наличие  перемётов',
      'погодные  условия (дождь, ветер, снег)',
      'Пункт отправления',
      'Пункт прибытия'
    ]
  }),
  props: {},
  methods:{
    ...mapActions({
      snackbar:'act_snackbar'
    }),
    sendEvent(){
      if(this.ex7 !== ''){
        this.$emit('click:events', this.ex7);
      } else this.snackbar({flag:true, text:'Выберите событие', color:'warning'})

    }
  }
};
</script>
