<template>
    <div class="d-flex justify-center mt-2">
      <div class="subtitle-1 text-center">{{ date.split(' ')[1] }}</div>
    </div>
</template>

<script>
    export default {
        props: {
          date:{Object}
        },
    };
</script>
