<template>
  <v-list class="pa-3">
    <v-list-item class="rounded-lg v-list-item_border blue-grey darken-1 mb-3 elevation-6" dark v-for="(item, index) in list"
                 :key="index">
      <v-list-item-avatar>
        <v-icon>mdi-road-variant</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title >{{ item.Name }}</v-list-item-title>
        <v-list-item-subtitle >{{ item.dateCreate }}</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-icon @click="start(item)" dark>mdi-arrow-right-bold-box-outline</v-icon>
      </v-list-item-action>
    </v-list-item>
  </v-list>
</template>

<script>
import {mapGetters} from 'vuex'
import {openGeozoneMaps, openMaps, sendMapPosition} from '@/rivg'

export default {
  computed: {
    ...mapGetters({
      api: 'getApi',
      user: 'getUser'
    }),
  },
  props: {
    list: {Array},
  },
  methods: {
    async start(item) {
      let json = await this.$post(this.api.urlApi, {
        rout: 'mobileAPIClass',
        func: 'drivingAlongRouteData',
        IMEI: item.IMEI,
        Session: item.session,
        KPP: this.user.info.KPP,
        INN: this.user.info.INN,
        token: '23eb817aee632ee020d44682af9c64a0'
      });
      if (json) {
        sendMapPosition(json[0].Lat, json[0].Lon);
        for (let i = 0; i < json.length; i++) {
          if (json[i].Description !== '') {
            openGeozoneMaps(json[i].Lat, json[i].Lon, 10, '', '', json[i].id);
          }
        }
        openMaps();
      }
    }
  }
};
</script>
