<template>
  <div class="d-flex" style="height: 100%">
    <v-card class="elevation-0 ma-auto">
      <v-card-title
          color="grey"
          dark
          flat
          dense
          class="d-flex justify-center"
      >
        <span class="text-uppercase">Авторизация</span>
      </v-card-title>
      <v-card-text>
        <div ref="form">
          <v-text-field
              ref="login"
              v-model="login"
              :rules="[() => !!login || 'Этот параметр обязательный']"
              label="Логин"
              name="login"
              prepend-inner-icon="mdi-login-variant"
              type="text"
              @keyup.enter="$refs.password.focus()"
              required
              outlined
          />

          <v-text-field
              ref="password"
              v-model="password"
              :rules="[() => !!password || 'Этот параметр обязательный']"
              id="password"
              label="Пароль"
              name="password"
              prepend-inner-icon="mdi-form-textbox-password"
              type="password"
              @keyup.enter="loginIn"
              required
              outlined
          />
        </div>
        <v-btn color="primary" @keyup.enter="loginIn" @click="loginIn" block>Войти</v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import MD5 from '../rivg/md5.js'
import {mapGetters} from 'vuex'
// import {startBarScaner} from "../rivg";

export default {
  name: "authorization",
  computed: {
    ...mapGetters({
      api: 'getApi'
    }),
    form() {
      return {
        login: this.login,
        password: this.password,
      }
    }
  },
  methods: {
    async loginIn() {
      this.formHasErrors = false
      Object.keys(this.form).forEach(f => {
        if (!this.form[f]) this.formHasErrors = true
        this.$refs[f].validate(true)
      })
      if (!this.formHasErrors) {
        if (navigator.onLine) {
          try {
            this.loading = true;
            const log = await this.$post(this.api.urlAuth, {
              rout: "auth",
              func: "setAuth",
              login: this.login,
              password: MD5(this.password),
            })
            if (log.auth) {
              localStorage.setItem("auth", JSON.stringify(log));
              this.$store.dispatch('actionUser', log);
              this.$emit('authServer');
              this.auth = true;
            } else {
              this.$emit('message', 'Неверный логин или пароль!');
            }
          } catch (error) {
            console.log("Ошибка ответа сервера!", error);
            this.$emit('message', 'Ошибка ответа сервера!');
          } finally {
            this.loading = false;
          }
        } else {
          this.$emit('message', 'Нет сети!');
        }
      }
    },
  },
  props: {
    source: String,
  },
  data() {
    return {
      formHasErrors: false,
      errorMessages: '',
      login: '',
      password: '',
      text: '0',
    }
  }
}
</script>

<style scoped>

</style>
