<template>
  <div>
    <v-system-bar dark color="primary">
      <span>{{ GSM }}</span>
      <span class="ml-3">{{ fileSnd }}</span>
      <span v-if="gpsflag === 1"><v-icon class="animated heartBeat infinite">mdi-satellite-variant</v-icon></span>
      <v-spacer></v-spacer>
      <span>{{ timeSys }}</span>
    </v-system-bar>

    <v-app-bar color="primary" dark elevate-on-scroll>
      <v-app-bar-nav-icon @click="drawer = true" :disabled="$store.getters.getUser == null"></v-app-bar-nav-icon>
      <v-toolbar-title>{{ textHeder }}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-navigation-drawer app v-model="drawer" absolute temporary width="280">
      <v-list style="background-color: #1976d2 !important;    border-radius: 0px; ">
        <v-list-item link>
          <v-list-item-avatar>
            <v-icon style="color: #FFFFFF; ">mdi-account-circle-outline</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title style="color: #FFFFFF;" v-html="fio"/>
            <v-list-item-subtitle style="color: #FFFFFF;">ID:{{ dataR[4] }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action @click="logout">
            <v-icon style="color: #FFFFFF;">mdi-exit-run</v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-list>

      <v-list nav dense style="margin-bottom: 300px">
        <v-list-item-group active-class="deep-purple--text text--accent-4">
          <v-list-item @click="goPath(item.path)" :disabled="item.disabled" v-for="(item, i) in menuHeader" :key="i">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item>
          <v-list-item @click="openM">
            <v-list-item-icon>
              <v-icon>mdi-google-maps</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Карта</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>


      <template v-slot:append>
        <v-divider class="my-0"></v-divider>

        <v-footer>
          <v-list dense>
              <v-list-item @click="updAPK" ref="btnUpd">
                <v-list-item-icon>
                  <v-icon>mdi-waze</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Обновить ПО</v-list-item-title>
              </v-list-item>
          </v-list>
        </v-footer>
      </template>

    </v-navigation-drawer>

  </div>

</template>

<script>

import {getItemData, openMaps, setURLSender, setURLSender2, runAU} from "../rivg/index.js";
import {mapGetters} from 'vuex';
import {timetOsKREAN} from "../rivg/lib.js";


export default {
  props: {
    fio: String,
    sa: Number,
  },
  data() {
    return {
      textHeder: 'Меню',
      EMEI: '',

      drawer: false,//Показать скрыть меню
      GSM: 'нет сим', //Текущий internet
      temeGPS: 0,//Время последнего ответа GPS


      timeSys: '00:00',//Время
      verWeb: '',//Версия лаунчера
      verAPK: '',//Версия APK
      fileSnd: '',
      gpsflag: 0,//Анимация поиска GPS


    }
  },
  computed: {

    ...mapGetters(
        {
          user: 'getUser',
          userId: 'getIdUser',
          dataR: 'getDataR',
          mainStart: 'getmainStart',
          setInterval: 'getInterval',
        }
    ),
    menuHeader() {
      return this.$router.options.routes.filter(item => item.icon !== undefined)
    }
  },
  watch:{
    EMEI(){
      return this.dataR[4];
    }
  },
  mounted() {
    this.getTitle();
    if (this.setInterval === -1) {
      this.$store.dispatch('actionInterval',
          setInterval(() => {
            getItemData(this.callbackTelefon);
            this.searchSattile();
            this.topBAr();
          }, 2000))
    }
  },
  methods: {
    goPath(path){
      this.$router.push(path)
      this.getTitle();
    },
    getTitle(){
      let route = this.$route;
      this.textHeder = this.$router.options.routes.filter(item => item.path === '/'+window.location.hash.split('/')[1])[0].title
    },
//От РИВГ---------------------------------------------------------------------------------------------------------------
    callbackTelefon(x) {//Данные от телефона кулбек
      x = decodeURI(x);
      window.dataR = x.split(';');
      // this.actionDataR(x.split(';'));
      this.$store.dispatch('actionDataR',x.split(';'))
      this.EMEI = this.dataR[4];  //Берем IME
      this.timeGPS = this.dataR[9];//Точность
      this.timeGPS = parseFloat(this.timeGPS).toFixed(0);
      this.$store.dispatch('actionmainStart', true);

    },
    logout() {
      this.drawer = false;
      this.$emit('exit', true);
    },

    openM() {//Меню открыть карты
      openMaps();
    },
    searchSattile() {//Контроль ГЛОННАС
      if (Number.parseInt(this.temeGPS) > 230) {
        this.gpsflag = 1;
      } else {
        this.gpsflag = 0;
      }
    },
    topBAr() {
      if (this.mainStart === true) {
        this.GSM = this.dataR[5];//Тип интернета
        this.temeGPS = this.dataR[9];//Последний ответ GPS
        this.EMEI = this.dataR[4];//EMEI
        this.fileSnd = this.dataR[7];//Файлы в очереди
        this.verWeb = window.vaer;
        this.verAPK = this.dataR[6];
        this.timeSys = timetOsKREAN();//Системное время
      }
    },
    updAPK() {
      if (confirm("Вы действительно хотите обновить приложеине??")) {
        setURLSender('GNKTMechanick');
      }
    },
  },
}
</script>

<style scoped>

</style>
