<template>
    <div class="d-flex flex-column pl-14 pb-2">
      <div class="subtitle-2">{{ coord.split(' ')[0] }}</div>
      <div class="subtitle-2">{{ coord.split(' ')[1] }}</div>
    </div>
</template>

<script>
    export default {
        props: {
          coord:{String}
        },
    };
</script>
