<template>
    <v-card>
      <v-toolbar color="primary" elevation="0" dark dense>
        <span>Справка</span>
        <v-spacer></v-spacer>
        <v-icon @click="$emit('cls')">mdi-close</v-icon>
      </v-toolbar>
      <v-card-text>
        <v-list v-for="(item, ind) in status" :key="ind">
          <v-list-item dense>
            <v-list-item-avatar><v-icon :size="30">{{item.icon}}</v-icon></v-list-item-avatar>
            <v-list-item-title class="text-uppercase">{{item.stat}}</v-list-item-title>
          </v-list-item>
          <v-divider></v-divider>
        </v-list>
      </v-card-text>
    </v-card>
</template>

<script>
    export default {
      data:()=>({
        status:[
          {stat:'В гараже', val:1, icon:'mdi-garage-variant'},
          {stat:'В ремонте', val:2, icon:'mdi-car-cog'},
          {stat:'В рейсе', val:3, icon:'mdi-car-connected'},
          {stat:'В утиль', val:4, icon:'mdi-recycle'},
          {stat:'В аренде', val:5, icon:'mdi-car-key'},
        ]
      }),
        props: {
        },
    };
</script>
