<template>
  <v-card>
    <v-toolbar color="primary" elevation="0" :dark="true" :dense="true">
      <span>Выберите статус авто</span>
      <v-spacer></v-spacer>
      <v-icon @click="$emit('cls')">mdi-close</v-icon>
    </v-toolbar>
    <v-card-text class="text-center py-4">
      <div>
        <v-btn
            v-for="(item, ind) in status" :key="ind"
            tile
            width="85"
            height="85"
            class="ma-1"
            :class="(Number(st.stID) === item.val)? 'teal lighten-1 btn-dark':''"
            @click="setStatus(item)">
          <div class="d-flex flex-column">
            <v-icon>{{ item.icon }}</v-icon>
            <span class="mt-2 caption text-uppercase text-center">{{ item.stat }}</span>
          </div>
        </v-btn>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    status_auto: [],
    status: [
      {stat: 'В гараже', val: 1, icon: 'mdi-garage-variant'},
      {stat: 'В ремонте', val: 2, icon: 'mdi-car-cog'},
      {stat: 'В рейсе', val: 3, icon: 'mdi-car-connected'},
      {stat: 'В утиль', val: 4, icon: 'mdi-recycle'},
      {stat: 'В аренде', val: 5, icon: 'mdi-car-key'},
    ]
  }),
  props: {
    st: {type: Object}
  },
  methods: {
    async setStatus(item) {
      const arr = await this.$post(this.$store.getters.getApi.urlApi, {//Пинг отправляем
        rout: 'mobileAPIClass',
        func: 'setPosition',
        id: this.st.idCar,
        token: this.st.token,
        hash: this.$store.getters.getUser.info.hash,
        status: item.val,
        INN: this.$store.getters.getUser.info.INN,
        KPP: this.$store.getters.getUser.info.KPP,
      })
      if(arr.status === 1){
        await this.$store.dispatch('act_snackbar', {flag: true, text: 'Статус успешно поменян', color: 'success'});
        await this.$emit('click:setSt', {id: this.st.idCar, item: item})
        await this.$emit('cls')
      } else {
        await this.$store.dispatch('act_snackbar', {flag: true, text: 'Статус не поменян', color: 'warning'});
      }
    }
  },
};
</script>
<style scoped>
.font {
  font-size: 11px;
  margin-top: 10px;
}

.v-item--active {
  background-color: #1976d2;
  color: whitesmoke;
}

.btn-dark {
  color: white
}
</style>
