<template>
  <div class="d-flex justify-space-between mx-4 align-center">
    <auto-list-item-content :name="item.NameAvtoW.toUpperCase()" :status="item.typePosition"/>
    <auto-list-item-actions :item="item" @click:status="$emit('click:status', $event)" />
  </div>
</template>

<script>
import AutoListItemActions from "@/comp/AutoList/AutoListItem/AutoListItemActions/AutoListItemActions";
import AutoListItemContent from "@/comp/AutoList/AutoListItem/AutoLIstItemContent/AutoListItemContent";
export default {
  name: "AutoListItem",
  props:{
    item:{Object},
  },
  watch:{
    item(){
      return this.item;
    }
  },
  components:{
    AutoListItemContent,
    AutoListItemActions
  }
}
</script>

<style scoped>

</style>
