<script src="../../../../TKOXontrol/page/vuetifyfree/src/store/index.js"></script>
<template>
  <v-app class="d-flex flex-column" style="height: 100%">
    <nav-header class="flex-grow-0" @exit="exit($event)" :fio="fio" :sa="sa"/>
    <v-main class="flex-grow-1" style="height: 0; overflow-y: auto">
      <router-view v-if="!!user"/>
      <authorization v-else @authServer="authServer"></authorization>
    </v-main>
    <v-bottom-sheet v-model="$store.getters.getflag" persistent>
      <v-sheet
          class="text-center"
          height="200px"
      >
        <v-btn
            class="mt-6"
            text
            color="red"
            @click="$store.dispatch('actionflag', {flag:false, text:''})"
        >
          Закрыть
        </v-btn>
        <div class="py-3">
          {{ $store.getters.getText }}
        </div>
      </v-sheet>
    </v-bottom-sheet>
    <v-snackbar
        v-model="$store.getters.get_snackbar.flag"
        :timeout="6000"
        :color="$store.getters.get_snackbar.color"
        top
        right
    >
      {{ $store.getters.get_snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn
            dark
            icon
            v-bind="attrs"
            @click="$store.dispatch('act_snackbar',{flag:false, text:'', color:''})"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
    <v-overlay :value="$store.getters.overlay">
      <v-progress-circular
          indeterminate
          size="64"
      ></v-progress-circular>
    </v-overlay>
  </v-app>
</template>
<script>
import authorization from "./comp/authorization";
import NavHeader from "@/comp/NavHeader.vue";
import {mapGetters} from 'vuex'
import {setURLSender2} from "./rivg";

export default {
  mounted() {
    if (localStorage.getItem('Today') !== null) {
      if (localStorage.getItem('Today') !== new Date().getDate() + '.' + new Date().getMonth() + '.' + new Date().getFullYear()) {
        localStorage.removeItem('listPloTko');
        localStorage.setItem('Today', new Date().getDate() + '.' + new Date().getMonth() + '.' + new Date().getFullYear());
      }
    } else {
      localStorage.setItem('Today', new Date().getDate() + '.' + new Date().getMonth() + '.' + new Date().getFullYear());
    }
    this.autoUpd();
  },
  beforeMount() {
    setURLSender2('http://fs.stak63.com:7071/doings', '?rout=set&token=23eb817aee632ee020d44682af9c64a0');
    this.updateUserInfo();
  },
  computed: {
    ...mapGetters({
      getIdUser: 'getIdUser',
      user: 'getUser'
    }),
  },
  components: {
    NavHeader, authorization

  },
  data() {
    return {
      fio: '',
      val: true,
      sa: 0,
    }
  },
  watch: {
    user() {
      return this.user;
    }
  },
  methods: {
    authServer() {
      let arr = [];
      this.val = false;
      this.fio = this.user.info.surName + ' ' + this.user.info.firstName;
      for (let i in this.$store.getters.getApi) {
        if (i != 'urlAuth') arr.push(this.$store.getters.getApi[i]);
      }
      localStorage.startApi = JSON.stringify(arr);
    },
//функция авто обновления приложения
    autoUpd() {
      this.verWeb = localStorage.getItem('version');
    },
    authUser(json) {
      this.$store.dispatch('actionUser', json);
      this.val = false;
      this.fio = this.user.info.surName + ' ' + this.user.info.firstName;
    },
    updateUserInfo() {
      if (localStorage.getItem('auth') !== null) {
        this.authUser(JSON.parse(localStorage.getItem('auth')));
      }
    },
    exit() {
      this.fio = '';
      this.val = true;
      this.drawer = false;
      this.loader = true;
      this.user = null;
      this.$store.dispatch('actionIdUser', '');
      this.$store.dispatch('actionUser', null);
      localStorage.clear();
    },
  }
}

</script>

<style>
html {

  overflow-y: auto !important;

}

.v-application .overline {
  font-size: 50pt;
  height: 100%;
  font-weight: 500;
  letter-spacing: .1666666667em !important;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: Roboto, sans-serif !important;
}

</style>
